<%- include('../partials/header') %>
    <h1>Skills</h1>
    <hr>
    <ul>
      <% skill.forEach(function(t) { %>
        <li>
          <a href="/skills/<%= t.id %>">
            <%= t.skill %>
          </a>
        </li>
      <% }); %>
    </ul>
   
<%- include('../partials/footer') %>