<%- include('../partials/header') %>

    <h3><%= title %></h3>
    
    <form action="/skills" method="POST" autocomplete="off">
        <input type="text" name="skill">
        <button type="submit">ADD</button>
    </form>

<%- include('../partials/footer') %>
